/* Geral */
* {
    box-sizing: border-box;
} 

body {
    margin: 0;
    height: 100vh;
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
} 
/* FIM - Geral */
/* Menu */ 
/* Títulos do Menu */ 
nav h2.titulo {  
    color: black;
    margin-left: 20px;
}
    
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 25%;
    background-color: #f1f1f1;
    position: fixed;
    height: 100%;
    overflow: auto;
}

nav li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
}

nav li a.active {
    background-color: #04AA6D;
    color: white;
}

nav li a:hover:not(.active) {
    background-color: #555;
    color: white;
}

nav ul li a i{
    margin-right: 10px;
}
  
/* FIM - Títulos do Menu */ 
/* Redes Sociais */
#about span{
    margin-right: 13px;
}

#blog span{
    margin-right: 13px;
}

#projects span{
    margin-right: 12px;
}

#contact span{
    margin-right: 23px;
} 

#mySidenav a {   
  position: absolute;
  left: -60px;
  transition: 0.3s; 

  padding-left: 3px;
  padding-top: 10px;
  padding-right: 3px;
  padding-bottom: 10px;

  width: 100px;

  text-decoration: none;
  font-size: 15px;
  color: white;

  border-radius: 0 5px 5px 0;
}

#mySidenav a:hover {
  left: 0;
}


#about {
  bottom: 20px;
  background-color: #04AA6D;
}

#blog {
  bottom: 60px;
  background-color: #2196F3;
}

#projects {
  bottom: 100px;
  background-color: #f44336;
}

#contact {
  bottom: 140px;
  background-color: #555; 
} 
/* FIM Redes Sociais */ 
/* FIM Menu */ 

/* Content */ 
article{
    bottom:0;
    padding: 0;
    margin-bottom: 0;
    margin-left: 17.5%;
    width: 75%;  
}  
article header {
    background-color: #04AA6D; 
    padding: 5px;
    text-align: center;
    font-size: 15px;
    color: white;
} 

article main {   
    -ms-flex: 70%; /* IE10 */
    flex: 70%;
    background-color: white;
    padding: 20px;'
} 
/* FIM - Content */ 


/* Footer */
article footer {  
  margin: 0px;
  padding: 0px; 
  background: #ddd;
  text-align: left;
  position:absolute;
  bottom:0;
  width:100%;
}
 
/* FIM - Footer */