* {
    box-sizing: border-box;
} 

body {
    margin: 0;
    height: 100vh;
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
} 

/* Menu */
.container{
    margin-left: 30%;
    margin-top: 30px;  
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 25%;
    background-color: #f1f1f1;
    position: fixed;
    height: 100%;
    overflow: auto;
}

li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
}

li a.active {
    background-color: #04AA6D;
    color: white;
}

li a:hover:not(.active) {
    background-color: #555;
    color: white;
}

.titulo h2{ 
    background-color:#bbb;
    color: black;
}

/* Article*/

article{
    margin-left:21.5%
}

/* Header*/ 
header {
    background-color: #04AA6D; 
    padding: 5px;
    text-align: center;
    font-size: 15px;
    color: white;
} 