/* Geral */
*{
  margin:0;
}
.w3-sidebar a {
  font-family: "Roboto", sans-serif
}

body,h1,h2,h3,h4,h5,h6,.w3-wide {
  font-family: "Montserrat", sans-serif;
} 

/* Scrollbar */

/* width */
::-webkit-scrollbar {
  width: 20px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: red; 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #b30000; 
}
/* FIM - Scrollbar */
 
/* Create two unequal columns that floats next to each other */
/* Left column */
.leftcolumn {   
  float: left;
  width: 100%;
} 

/* Fake image */
.fakeimg {
  background-color: #aaa;
  width: 100%;
  padding: 20px;
}

/* Add a card effect for articles */
.card {
   background-color: white;
   padding: 20px;
   margin-top: 20px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
} 

/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) {
  .leftcolumn{   
    width: 100%;
    padding: 0;
  }
}

/* HTML Box */  
.box{
    width: 50px;
    height: 50px;
    margin-bottom: 8px;
}

.box1{
    background-color: red;
}

.box2{
    background-color: green;
}

.box3{
    background-color: blue; 
}  

/*Segunda coluna */
/* Create two equal columns that floats next to each other */
.column {
  float: left; 
  padding: 10px;
  height: 300px; /* Should be removed. Only for demonstration */
}
.column-left {
  width: 35%;
  background-color:#aaa; 
}
.column-right {
  width: 65%;
  background-color:#bbb;
}
.column-entire {
  width: 100%;
  background-color:#aaa; 
}
/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
/* FIM - HTML Box */ 
.column-flexbox {
  float: left; 
  padding: 10px;
  height: 380px; /* Should be removed. Only for demonstration */
}

.column-js {
  float: left; 
  padding: 10px;
  height: 320px; /* Should be removed. Only for demonstration */
}


.column-poo {
  float: left; 
  padding: 10px;
  height: 370px; /* Should be removed. Only for demonstration */
} 

.column-poo-abs {
  float: left; 
  padding: 10px;
  height: 320px; /* Should be removed. Only for demonstration */
}  

.column-poo-encap {
  float: left; 
  padding: 10px;
  height: 550px; /* Should be removed. Only for demonstration */
} 

.column-left-poo {
  width: 35%;
  background-color:#D3D3D3; 
}
.column-right-poo {
  width: 65%;
  background-color:#A9A9A9;
}

.column-left-poo-par{
  width: 45%;
  background-color:#D3D3D3; 
}

.column-right-poo-par{
  width: 55%;
  background-color:#A9A9A9;
}

.column-three {
  float: left; 
  padding: 10px;
  height: 560px; /* Should be removed. Only for demonstration */
}  
 
.column-three-two {
  float: left; 
  padding: 10px;
  height: 400px; /* Should be removed. Only for demonstration */
}  

.column-left-three{
  width: 32%;
  background-color:#A9A9A9;
}

.column-medium-three{
  width: 35%;
  background-color:#D3D3D3;
}

.column-right-three{
  width: 33%;
  background-color:#A9A9A9;
}

.column-entire-up {
  float: left; 
  padding: 0px;
  height: 550px; /* Should be removed. Only for demonstration */
}
.column-forms {
  float: left; 
  padding: 10px;
  height: 400px; /* Should be removed. Only for demonstration */
}
.column-left-forms {
  width: 35%;
  background-color:#aaa; 
}
.column-right-forms {
  width: 65%;
  background-color:#bbb;
}
/* Clear floats after the columns */
.row-forms:after {
  content: "";
  display: table;
  clear: both;
}
 
.column-left-tables {
  width: 55%;
  background-color:#aaa; 
}
.column-right-tables {
  width: 45%;
  background-color:#bbb;
}

/* HTML Table */
.styled {
    border: 0;
    line-height: 2.5;
    padding: 0 20px;
    font-size: 1rem;
    text-align: center;
    color: #fff;
    text-shadow: 1px 1px 1px #000;
    border-radius: 10px;
    background-color: rgba(220, 0, 0, 1);
    background-image: linear-gradient(to top left,
                                      rgba(0, 0, 0, .2),
                                      rgba(0, 0, 0, .2) 30%,
                                      rgba(0, 0, 0, 0));
    box-shadow: inset 2px 2px 3px rgba(255, 255, 255, .6),
                inset -2px -2px 3px rgba(0, 0, 0, .6);
}

.styled:hover {
    background-color: rgba(255, 0, 0, 1);
}

.styled:active {
    box-shadow: inset -2px -2px 3px rgba(255, 255, 255, .6),
                inset 2px 2px 3px rgba(0, 0, 0, .6);
}

.form{
    margin-bottom: 10px;
}
 
/* FIM - HTML Table */

/* HTML Code */
code {
  font-family: Consolas,"courier new";
  color: crimson;
  background-color: #f1f1f1;
  padding: 2px;
  font-size: 105%;
}
/* FIM - HTML Code */

/* template web */
.template-header{
  padding: 1rem;
  background: lightgray;
}
.template-nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.template-nav ul{
  display: flex;
  list-style: none;
  align-items: center;
  gap: .8rem;
}

.template-nav ul li:last-child {
  background: black;
  color: white;
  padding: .8rem;
}

.template-container{
  display: flex;
  gap: 1rem;
}

.template-aside, .template-main{
 border: 1px solid;
 height: 60vh;
}

.template-aside{
  flex-basis: 25%;
}

.template-main{
  flex: 1;
}

.template-main button{
  margin: 10px;
  display: flex;
  align-items: center;
  line-height: 0;
  gap: .4rem;
}

.template-main button i{
  width: 2rem;
  height: 2rem;
}

.template-footer {
  margin-top: auto;
  background: gray;
  color: white;
  height: 8rem;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.template-galey img{ 
  width: 30%;
  height: 30%;
}

.template-galey{
  display: flex;
  flex-wrap: wrap;
  gap: .8rem;
  justify-content: center;
}
/* FIM - template web */